body,
html {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-box {
  min-width: 90%;
  min-height: 80vh;

  flex-direction: column;
  gap: 20px;
}

.test-box input.target-input {
  font-size: 29px;
}

.test-box hr {
  width: 80%;
}
